*.o
*.lo
*.log
*Makefile
Makefile
configure
intl/*
po/*
m4/*
*/Makefile.in
.deps
Makefile.in
autom4te*
autom4te*/*
*.libs
*.Plo
*.Po
*.dll
*.dylib
*.a
*.la
*.lai
*.so
*.so.*
*~
*.exe
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
aclocal.m4